{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<p>Hola, me llamo Nicolás Labari y vivo en Buenos Aires, Argentina.</p>

<p>Estoy aprendiendo a programar y este es mi trabajo final del curso de Python en Coderhouse.</p>

<p>En este proyecto, desarrollé una página web con Django, donde los usuarios pueden registrarse, iniciar sesión, crear, editar y eliminar páginas, así como gestionar su perfil de usuario.</p>

<p>¡Gracias por visitar mi página!</p>
{% endblock %}


